@{
    ViewData["Title"] = "Home Page";
}

@section styles{ 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" /> 
    <style>
    .custom-loader-color {
        color: #fff !important;
        font-size: 50px !important;
    }

    .custom-loader-background {
        background-color: crimson !important;
    }

    .custom-middle-align {
        vertical-align: middle !important;
    }  

    .mb-5{
        margin-bottom: 5px;
    }
    </style>

}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="dataTable" class="table table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Town</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Comapny Name</th>
                    <th>Address</th>
                    <th>Town</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/js/dataTables.cellEdit.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#dataTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            var table = $("#dataTable").DataTable({
                serverSide: true,
                ajax: {
                    url: "@Url.Action("AjaxHandler", "Home")",
                    type: "POST",
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                language: {
                    processing: "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                processing: true,
                columns: [
                    { data: "id", name: "Id" },
                    { data: "name", name: "Name" },
                    { data: "address", name: "Address" },
                    { data: "town", name: "Town" }
                ]
            });

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            table.MakeCellsEditable({
                onUpdate: onUpdate,
                inputCss: 'form-control col-sm-10 mb-5',
                columns: [1, 2, 3],
                allowNulls: {
                    columns: [1],
                    errorClass: 'error'
                },
                confirmationButton: {
                    'confirmCss': 'btn btn-primary col-sm-5',
                    'cancelCss': 'btn btn-danger col-sm-5 pull-right',
                },
                inputTypes: [
                    {
                        column: 1,
                        type: 'text',
                        options: null
                    },
                    {
                        column: 2,
                        type: 'text',
                        options: null
                    },
                    {
                        column: 3,
                        type: 'text',
                        options: null
                    },
                ]

            })
        })

        function onUpdate(updatedCell, updatedRow, oldValue)
        {
            var table = $($(updatedCell).closest('table')).DataTable();

            $.ajax({
                url: '@Url.Action("SaveRowDetails", "Home")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(updatedRow.data()),
            });
        }
    </script>

}